.nome{
    position: absolute;
    right: 10%;
    font-size: 55px;
    top: 70px;
    color: white;
    z-index: 13;
    font-family: sans-serif;
}

.button-prefab{
    width: 20%;
    height: 50px;
    background-color:  #3d958a;
    border: none;
    padding: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 0px;
}

.button-prefab:hover{
    background-color:  #216961;
}

.menu{
    position: absolute;
    width: 80%;
    top: 140px;
    z-index: 12;
    right: 0%;
    
}

#cube1{
    width: 150px;
    height: 150px;
    background-color: #fe7058;
    transform: rotateZ(45deg);
    position: absolute;
    z-index: 11;
    top: 50px;
}

#cube2{
    width: 150px;
    height: 150px;
    background-color: #ce533e;
    transform: rotateZ(45deg);
    position: absolute;
    z-index: 11;
    left: 60px;
    top: 10px;
}

#cube3{
    width: 90%;
    height: 100px;
    background-color: #3d958a;
    transform: rotateZ(0deg);
    position: relative;
    border-bottom: 1px solid #16574f;
    z-index: 10;
    margin: auto;
    /*left: 100px;*/
    top: 50px;

}

#cube4{
    width: 85%;
    height: 65px;
    background-color: #206b62;
    transform: rotateZ(0deg);
    position: relative;
    z-index: 9;
    margin: auto;
    /*left: 125px;*/

}

#cube5{
    width: 300px;
    height: 100px;
    background-color: #f6c344;
    transform: rotateZ(0deg);
    position: absolute;
    z-index: 7;
    left: 25px;
    top: 150px;
}

#cube6{
    width: 300px;
    height: 100px;
    background-color: #dba027;
    transform: rotateZ(0deg);
    position: absolute;
    z-index: 7;
    left: 50px;
    top: 175px;
}

#cube7{
    width: 100px;
    height: 125px;
    background-color: #1f7192;
    transform: rotateZ(135deg);
    position: absolute;
    z-index: 9;
    left: 52%;
    top: 25px;
}

#cube8{
    width: 150px;
    height: 110px;
    background-color: #34acdb;
    transform: rotateZ(135deg);
    position: absolute;
    z-index: 9;
    right: 37%;
    top: 25px;
}

#cube9{
    width: 150px;
    height: 125px;
    background-color: #46c2f3;
    transform: rotateZ(135deg);
    position: absolute;
    z-index: 9;
    right: 42%;
    top: 25px;
}

#cube10{
    content: "";
    width: 350px;
    height: 155px;
    background-color: #9ccfe4;
    transform: rotateZ(40deg);
    transform-origin: bottom;
    position: absolute;
    z-index: 8;
    right: 45%;
    top: 0px;
}

#cube11{
    width: 250px;
    height: 125px;
    background-color: #ecc148;
    transform: rotateZ(135deg);
    position: absolute;
    z-index: 9;
    right: 0px;
    top: 35px;
}

#cube12{
    width: 250px;
    height: 125px;
    background-color: #c29b2f;
    transform: rotateZ(135deg);
    position: absolute;
    z-index: 9;
    right: 2%;
    top: 85px;
}

#cube13{
    width: 250px;
    height: 250px;
    background-color: #d47d0a;
    transform: rotateZ(75deg);
    position: absolute;
    z-index: 7;
    right: 2%;
    top: 85px;
}

#cube14{
    width: 250px;
    height: 250px;
    background-color: #f3971e;
    transform: rotateZ(75deg);
    position: absolute;
    z-index: 7;
    right: 3%;
    top: 125px;
}

.base{
    color: gray;
}